
/* 0. Reset ================================= */
@import 'reset';

$header-font: 'Rock Salt', cursive;
$primary-font: 'Patrick Hand', cursive;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	width: 100%;
	height: 100vh;
}

/* 2. Content ================================= */
header{
	display: flex;
	font-family: $header-font;
	width: 100%;
	padding: 0% 2%;

	.logo{
		background: url(../img/logo.png) top no-repeat;
		background-size: 100%;
		width: 12%;	
		height: 0;
		padding-bottom: 11%;

		&:hover{
			cursor: pointer;
		}
	}

	h1{
		font-size: 5vw;
		color: #02906c;
		padding: 2% 5%;
		text-shadow: 2px 2px 5px #000;
	}
}

//************* Home Page *************
.home{
	.about{
		margin: 15px 2%;
		font-family: $primary-font;
		font-size: 1.5em;
		box-shadow: 0 5px 10px 0 #909582;
		padding: 10px 1%;
	}

	.gaming{
		background: url(../img/gamebg.jpg) top no-repeat;
		background-size: 100%;
		height: 0;
		padding-bottom: 62%;
		box-shadow: 0 5px 10px 0 #909582;
		font-family: $primary-font;
		display: flex;
		justify-content: space-around;

		a{
			text-decoration: none;
			color: #fff;
			background: #02906c;
			border: 3px solid #909582;
			border-radius: 20px;
			transition: .5s;
			font-size: 4vw;
			font-family: $header-font;
			margin-top: 20%;
			padding: 4% 2% 8%;

			&:hover{
				background: #000;
			}
		}
	}
}

//************* Find a Game Page *************

.find-a-game{
	header{
		margin-bottom: 30px;
	}

	.map-sect{
		width: 100%;
		height: 70vh; 

		#map{
			height: 100%;
		}	
	}
}


//************* Start a Game Page *************

.start-game-form{

	&::after{
		content: "";
		background: url(../img/dicebg.jpg) center no-repeat;
		background-size: cover;
		filter: brightness(70%);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

	form{
		margin: 5% 5%;
		font-family: $primary-font;
		font-size: 1.9em;
		color: #fff;
		text-shadow: 2px 2px 5px #000;

		h2{
			font-size: 1.7em;
			margin-bottom: 4%;
		}

		div{
			margin-bottom: 2%;

			input{
				border-radius: 5px;
				font-size: .7em;
				font-family: $primary-font;

				&::placeholder{
					font-style: italic;
					color: #ddd;
				}
			}

			textarea{
				border-radius: 5px;
				font-size: .7em;
				font-family: $primary-font;
				width: 100%;
				margin: 10px 0 0;
			}	
		}

		.eventCreated{
			color: #02906c;
			font-family: $header-font;
			border-radius: 5px;
			font-size: .5em;

			&:hover{
				background: #02906c;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}





